# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv
env
venv

# Logs & temp files
*.log
*.sqlite3
*.db
*.pid

# Git
.git
.gitignore

# OS/editor junk
.DS_Store
.vscode
.idea

# Environment
.env
.env.*.local
