--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn[standard]
sqlmodel
pydantic
pydantic-settings
apscheduler
langchain
langchain-huggingface
watchfiles
httpx
requests
python-multipart
jinja2
PyJWT
passlib[bcrypt]
python-docx
PyPDF2
pinecone-client
transformers==4.41.2
sentence-transformers==2.7.0
torch==2.2.1+cpu
google-generativeai
fastapi-mail
python-jose
aiosqlite
